 .container{
                width: fit-content;
                margin: 50px auto;
               
            }
            .slide {
                width: 600px;
                height: 400px;
                object-fit: cover;
                
                
            }
            .icon-action{
                height: 80px;
               transition: 0.56;
               position: absolute;
                cursor: pointer;
                 top: 40px;
            }
            .icon-right{
                
                right: 0;
                margin-right: 250px;
               margin-top: 150px;
            }
            .icon-right:hover{
                transform: scale(0.8) translatex(10px);
            
            }
            .icon-left{
                left: 0;
                margin-left: 250px;
                margin-top: 150px;
            }
            .icon-left:hover{
                transform: scale(0.8) translatex(-10px);
            }